.accordions__section {    
    .inner-wrapper {
        background: var(--colorLightGray, #F1F1E8);
        border-radius: 24px;
        overflow: hidden;
        .left-side {
            .image {
                padding-right: 20px;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            @include md {
                display: none;
                visibility: hidden;
            }
        }
        .right-side {   
            align-self: center;
            border-radius: 24px;
            .accordion {
                padding-top: 40px;
                padding-bottom: 40px;
                padding-right: 100px;
                @include lg {
                    padding-right: 50px;
                }
                @include md {
                    padding: 12px 12px 24px 12px;
                }
                .title {
                    color: var(--Base-colorBlack, #000);
                    text-align: left;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 110%; /* 44px */
                    margin-bottom: 40px;
                    @include md {
                        font-size: 30px;
                        margin-bottom: 8px;
                    }
                }
                .accordion-item {
                    border: unset;
                    background: unset;
                    background-color: unset;
                    .accordion-header {
                        border-bottom: 2px solid transparent;
                        &[aria-expanded="false"] {
                            border-bottom: 2px solid var(--Natural-colorLightGrey300, #A0A3A0);
                        }
                        button {
                            background: unset;
                            box-shadow: unset;
                            padding-right: 10px;
                            padding-left: 0;
                            padding-top: 16px;
                            padding-bottom: 16px;
                            background-color: unset;
                            color: var(--Base-colorBlack, #000);
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            @include md {
                                font-size: 14px;
                                padding-top: 12px;
                            padding-bottom: 12px;
                            }
                            &:focus {
                                outline: unset;
                                box-shadow: unset;
                            }
                        }
                    }
                    .accordion-collapse {
                        .accordion-body {
                            padding-left: 0;
                            padding-right: 0;
                            p {
                                color: var(--Base-colorBlack, #000);
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 24px;
                                @include md {
                                    font-size: 12px;
                                    line-height: 22px;
                                }
                                a {
                                    text-decoration-line: underline;
                                    text-decoration-style: solid;
                                    text-decoration-skip-ink: auto;
                                    text-decoration-thickness: auto;
                                    text-underline-offset: auto;
                                    text-underline-position: from-font;
                                    @include transition;
                                    &:hover {
                                        color: var(--colorPrimary, #235145);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}