/* Text - Image style END */
.two-side__section-text-image {
    .row {
        row-gap: 40px;
        @include md {
            flex-direction: column-reverse;
            row-gap: 24px;
        }
    }
    .lefts {
        align-self: center;
        @include min-size-1024 {
            padding-right: 100px;
        }
        .up-content {
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            h2 {
                color: var(--Natural-colorDarkGrey500, #0C0D0C);
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: 110%; /* 44px */
                @include md {
                    font-size: 34px;
                }
            }
            h3 {
                color: var(--Base-colorBlack, #000);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; /* 125% */
            }
        }
        .buttons {
            display: flex;
            column-gap: 20px;
            flex-wrap: wrap;
            row-gap: 10px;
            .default-btn, a {
                @include xs {
                    width: 100%
                }
            }
            a {
                @include default-grey-btn;
                height: 55px!important;
            }
        }
    }

    .rights {
        align-self: center;

        .img {
            width: 100%;
            height: 380px;
            border-radius: 16px;
            overflow: hidden;
            @include min-md { 
                height: 400px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.image-no-container-right {
    position: relative;
    padding-bottom: 0;

    .row {
        @include md {
            row-gap: 20px;
        }

        @include xs {
            row-gap: 0;
        }
    }

    .lefts {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .rights {
        flex: unset;
        max-width: unset;
        position: relative;
        width: 100%;
        right: 0;
        height: 100%;
        top: 0;
        align-self: unset;

        @include xs {
            padding-right: 0;
            padding-left: 0;
        }

        @include min-md {
            width: 50%;
            position: absolute;
            padding-right: 0;
        }

        .img {
            @include min-xs {
                height: 100%;
            }
        }
    }
}

/* Text - Image style END */