/* Tree style Start */
.tree__section {
    .tree-content {
        .tree-background {
            width: 100%;
            display: flex;
            justify-content: center;
            max-height: 1000px;
            border-radius: 24px;
            overflow: hidden;
            img {
                width: 100%;
                object-fit: contain;
                object-position: center;
                height: auto;
            }
        }
        .tree-text {
            margin-top: 16px;
            color: var(--Base-colorBlack, #000);
            font-size: 16px;
            font-style: italic;
            font-weight: 400;
            line-height: normal;
            text-align: center;
        }
    }
}
/* Tree style End */