
.banner__section {
    &>.container {
        @include xs {
            padding: 0;
        }
    }
    .banner-one__section {
        display: flex;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 40px;
        padding-bottom: 40px;
        @include min-xs {
            border-radius: 0px 0px 24px 24px;
        }
        &.no-cropped {
            min-height: unset!important;
            padding: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            background-size: unset!important;
            img {
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                object-fit: contain;
                -o-object-position: center center;
                object-position: center center;
            }
            .container {
                position: absolute;
            }
        }
        .centers {
            display: flex;
            flex-direction: column;
            row-gap: 60px;
            padding-top: 40px;
            padding-bottom: 40px;
            @include md {
                row-gap: 24px;
            }
            h1 {
                color: var(--colorWhite, #FFF);
                font-size: 64px;
                font-style: normal;
                text-align: center;
                font-weight: 800;
                line-height: 110%; /* 70.4px */
                @include md {
                    font-size: 58px;
                }
                @include sm {
                    font-size: 38px;
                }
                @include xs {
                    max-width: 355px;
                    margin: auto;
                }
                strong {
                    display: block;
                    font-weight: 900;
                }
            }
            .buttons {
                display: flex;
                column-gap: 16px;
                justify-content: center;
                .btn-base {
                    position: relative;
                    &.btn-base-one {
                        a {
                            @include default-white-btn;
                        }
                    }
                    
                    &.btn-base-two {
                        a {
                            @include default-transparent-btn;
                        }
                    }
                }
            }
        }
    }
}