.contact-section-base {
    .upside {
        height: 614px;
        border-radius: 24px 24px 0px 0px;
        overflow: hidden;
        @include md {
            height: 514px;
        }
        @include xs{
            height: 196px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .downside {
        border-radius: 0px 0px 16px 16px;
        background: var(--colorOffWhite, #FFFEFA);
        padding: 40px;
        @include md {
            padding: 14px;
        }
        .contact-text {
            display: flex;
            flex-direction: column;
            row-gap: 24px;
            @include md {
                row-gap: 12px;
                margin-bottom: 14px;
            }
            h2 {
                color: var(--Base-colorBlack, #000);
                text-align: left;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: 110%; /* 44px */
                @include md{
                    font-size: 30px;
                }
            }
            p {
                color: var(--Neutral-colorNeutralDark900, #111213);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 22.4px */
                @include md{
                    font-size: 12px;
                }
            }
        }
        .contact-form {
            form {
                p {
                    margin-bottom: 16px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                label {
                    width: 100%;
                    input, textarea {
                        width: 100%;
                        color: var(--Neutral-colorNeutral, #99A2AA);
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        border-radius: 8px;
                        border: 1px solid var(--Neutral-colorNeutralLight700, #E6E9EB);
                        background: var(--Basic-colorWhite, #FFF);
                        padding-left: 16px;
                        &.wpcf7-not-valid {
                            border-color: red;
                        }
                    }
                    input {
                        height: 50px;
                    }
                    textarea {
                        height: 84px;
                        padding-top: 12px;
                    }
                }
                .wpcf7-response-output, .wpcf7-not-valid-tip {
                    display: none;
                }
                .button-submit {
                    position: relative;
                    .wpcf7-submit {
                        height: 50px;
                        color: var(--Basic-colorWhite, #FFF);
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 14px; /* 100% */
                        border-radius: 8px;
                        background: var(--colorPrimary, #235145);
                        width: 100%;
                        @include transition;
                        &.success {
                            background: var(--Basic-colorBlack, #000);
                        }
                        &.error {
                            background: #e85c41;
                        }
                    }
                    .wpcf7-spinner {
                        position: absolute;
                        right: 0;
                        transform: translate(0%, -50%);
                        top: 50%;
                    }
                }
            }
        }
    }
}