.blogs__section {
    .col-lg-4 {
        @include lg {
            width: 50%;
        }
        @include sm {
            width: 100%;
        }
        .blog-inner{
            margin-bottom: 24px;
            .img {
                width: 100%;
                height: 270px;
                border-radius: 16px;
                overflow: hidden;
                margin-bottom: 16px;
                @include sm {
                    margin-bottom: 8px;
                    height: 220px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .content {
                span {
                    color: var(--colorEarthBrown, #756854);
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
                h2 {
                    margin-top: 16px;
                    color: #000;
                    font-size: 26px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 32px; 
                }
            }
        }
    }
    .blog-tabs {
        border: 0;
        &.nav-tabs {
            display: flex;
            justify-content: center;
            column-gap: 12px;
            @include xs {
                justify-content: left;
                overflow-x: scroll;
                &::-webkit-scrollbar {
                    display: none;
                  }
            }
            li {
                a {
                    border-radius: 6px;
                    border: 1px solid var(--colorPrimary, #235145);
                    background: var(--colorOffWhite, #FFFEFA);
                    color: var(--colorBlack, #000);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    display: inline-flex;
                    padding: 12px 16px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    transition: all .3s ease-in-out;
                    height: 50px;
                }
                &.active {
                    a {
                        border-radius: 6px;
                        border: 1px solid var(--colorPrimary, #235145);
                        background: var(--colorPrimary, #235145);
                        color: var(--colorWhite, #FFF);

                    }
                }
                &:hover {
                    a:not(.active) {
                        background:#2351457d;
                        color: #FFF;
                    }
                }
            }
        }
    }
    .latest-blog {
        margin: 60px 0 80px 0;
        @include md {
            margin: 30px 0 40px 0;
        }
        .row {
            @include md {
                row-gap: 24px;
            }
        }
        .lefts {
            align-self: center;
    
            .img {
                width: 100%;
                height: 220px;
                border-radius: 16px;
                overflow: hidden;
                @include min-md { 
                    height: 400px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    
        .rights {
            align-self: center;
            @include min-lg {
                padding-left: 100px;
            }
            .up-content {
                display: flex;
                flex-direction: column;
                row-gap: 16px;
                h2 {
                    color: var(--Natural-colorDarkGrey500, #0C0D0C);
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 110%; /* 44px */
                    @include md {
                        font-size: 34px;
                    }
                }
                h3 {
                    color: var(--Base-colorBlack, #000);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px; /* 125% */
                }
            }
            .buttons {
                display: flex;
                column-gap: 20px;
                flex-wrap: wrap;
                row-gap: 10px;
                margin-top: 16px;
                .default-btn, a {
                    @include xs {
                        width: 100%
                    }
                }
                a {
                    @include default-grey-btn;
                    height: 55px!important;
                }
            }
        }
    }
    .pagination-wrapper {
        margin-top: 36px;
        .page-numbers {
            display: flex;
            column-gap: 8px;
            justify-content: center;
            li {
                .page-numbers {
                    width: 40px;
                    height: 40px;
                    color: var(--colorBlack, #000);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    border-radius: 6px;
                    border: 1px solid var(--colorPrimary, #235145);
                    background: var(--colorOffWhite, #FFFEFA);
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
                    transition: all .3s ease-in-out;
                    &.current {
                        border-radius: 6px;
                        border: 1px solid var(--colorPrimary, #235145);
                        background: var(--colorPrimary, #235145);
                        color: var(--colorWhite, #fff);
                        background-repeat: no-repeat;
                    }
                    &:hover:not(.current) {
                        background: #23514555;
                        color: var(--colorWhite, #fff);
                        &.next, &.prev {
                            &:after {
                                filter: invert(1);
                            }
                        }
                    }
                    &.prev, &.next {
                        font-size: 0;
                        &:after {
                            content: "";
                            background-repeat: no-repeat;
                            width: 30px;
                            height: 30px;
                            position: absolute;
                            background-position: center;
                            transition: all .3s ease-in-out;
                        }
                        &:hover {
                            &::after {
                                scale: 0.90;
                            }
                        }
                    }
                    &.prev{
                        &:after {
                            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="20" viewBox="0 0 12 20" fill="none"><path d="M10.8421 0C10.6751 0 10.5081 0.0618134 10.3799 0.185673L0.695542 9.54239C0.570443 9.66327 0.5 9.82806 0.5 9.99999C0.5 10.1719 0.570443 10.3367 0.695542 10.4576L10.3799 19.8143C10.6383 20.064 11.0548 20.0616 11.3101 19.8088C11.5655 19.5561 11.563 19.1488 11.3045 18.8991L2.0937 9.99999L11.3045 1.10088C11.5629 0.85117 11.5654 0.44392 11.3101 0.191172C11.1814 0.0638027 11.0118 0 10.8421 0Z" fill="black"/></svg>');
                        }
                    }
                    &.next {
                        &:after {
                            transform: rotate(180deg);
                            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="20" viewBox="0 0 12 20" fill="none"><path d="M10.8421 0C10.6751 0 10.5081 0.0618134 10.3799 0.185673L0.695542 9.54239C0.570443 9.66327 0.5 9.82806 0.5 9.99999C0.5 10.1719 0.570443 10.3367 0.695542 10.4576L10.3799 19.8143C10.6383 20.064 11.0548 20.0616 11.3101 19.8088C11.5655 19.5561 11.563 19.1488 11.3045 18.8991L2.0937 9.99999L11.3045 1.10088C11.5629 0.85117 11.5654 0.44392 11.3101 0.191172C11.1814 0.0638027 11.0118 0 10.8421 0Z" fill="black"/></svg>');
                        }
                    }
                }
            }
        }
    }
    .active-category-title {
        color: var(--Natural-colorDarkGrey500, #0c0d0c);
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%;
        margin-bottom: 80px;
        text-align: center;
        @include md {
            font-size: 30px;
            margin-bottom: 40px;
        }
    }
}