.banner-one__section {
    display: flex;
    align-items: center;
    min-height: 312px;
    @media(min-width: 450px) {
        min-height: 412px;
    }
    @media(min-width: 991.98px) {
        min-height: 512px;
    }
}