/* Boxes with post type and swiper style Start */
.our-concept__section {
    &>.container {
        @include xs {
            padding: 0;
        }
    }
    .our-concept-wrapper {
        padding: 24px 100px;
        background-repeat: no-repeat;
        background-size: cover;
        @include min-xs {
            border-radius: 24px;
        }
        @include lg {
            padding: 24px 0px;
            overflow: hidden;
        }
        @include md {
            
        }
        .container {
            @include md{
                padding: 0;
            }
        }
        .section-header {
            h2 {
                color: var(--Base-colorWhite, #FFF);
                &.only-title {
                    margin-bottom: 24px;
                }
            }
        }
        .swiper {
            @include lg{
                overflow: unset;
                padding-right: 16px;
                padding-left: 16px;
            }
            .swiper-slide {
                height: 100%;
            }
            .slider-wrap {
                justify-content: flex-start;
                flex-direction: column;
                display: flex;
                text-align: center;
                align-items: center;
                border-radius: 16px;
                background: var(--colorWhite, #FFF);
                backdrop-filter: blur(8.5px);
                row-gap: 8px;
                height: 100%;
                min-height: 95px;
                @include md {
                    min-height: 110px;
                }
                &-inner {
                    display: flex;
                    flex-direction: column;
                    row-gap: 8px;
                    padding: 16px;
                    width: calc(100% - 32px);
                    height: 100%;
                    text-align: left;
                    align-items: center;
                    @include md {
                        padding: 24px;
                        align-items: flex-start;
                    }
                }
                .icon {
                    color: var(--Base-colorBlack, #000);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 110%; /* 17.6px */
                }
                h2 {
                    color: var(--Base-colorBlack, #000);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 110%; /* 16.5px */
                    text-align: center;
                    @include md {
                        font-size: 20px;
                    }
                }
                h3 {
                    color: var(--Base-colorBlack, #000);
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 110%; /* 16.5px */
                }
            }
        }
    }
}

/* Boxes with post type and swiper style END */