/* Header Default*/

header {
    .header-default {
        background: $white;
        align-items: center;
        display: flex;
        padding: 10px 0;
        @include transition;

        nav {
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;

            #navbarNav { 
                text-align: center;
                flex-direction: column;
                transition: .4s ease-in-out;

                @include md {
                    width: 100%;
                    position: fixed;
                    top: 50px;
                    z-index: 9;
                    left: 0;
                    background: $white;
                    transition: 0.3s ease-in-out;
                    -webkit-transition: 0.3s ease-in-out;
                    -moz-transition: 0.3s ease-in-out;
                    -ms-transition: 0.3s ease-in-out;
                    -o-transition: 0.3s ease-in-out;

                    ul {
                        padding: 20px 0;
                    }
                }

                .navbar-nav {
                    gap: 20px;
                    ul {
                        li {
                            color: $black;
                            @include transition;
                        }
                    }
                }
            }

        }
    }
}

/* Header Default END*/