/* Header Default*/
.admin-bar {
    header {
        top: 32px;
        #navbarNav {
            top: calc(78px + 32px)!important;
        }
    }
}

//It should have same number as header height
#primary {
    padding-top: calc(78px - 5px);
    @include min-md {
        padding-top: calc(82px - 5px);
    }
}
header {
    height: 78px;
    background: var(--colorWhite, #FFF);
    position: fixed;
    width: 100%;
    z-index: 999;
    @include transition;
    @include min-md {
        height: 82px;
    }
    .scroll-imgchange {
        img:first-child {
            display: none;
        }

        img:last-child {
            display: inherit !important;
        }

        li:first-child {
            display: none;
        }

        li:last-child {
            display: inherit !important;
        }
    }
    .header-default {
        // background: $white;
        height: 100%;
        display: flex;
        align-items: center;
        @include transition;
        .collapsing {
            position: relative;
            overflow: hidden;
            height: 0;
            transition: height .35s ease;
        }
        .menu-here {
            nav {
                column-gap: 40px;
                // padding-top: 0px;
                // padding-bottom: 0px;
                // padding-left: 0px;
                // padding-right: 0px;
                // column-gap: 100px;
                .logo_header {
                    flex-shrink: 0;
                    // @include min-md {
                    //     margin-right: 50px;
                    // }
                    // @include min-lg {
                    //     margin-right: 100px;
                    // }
                    li {
                        height: 48px;
                        max-width: 110px;
                        @include transition;
                        @include min-md {
                            height: 50px;
                        }
                        img {
                            width: 100%;
                            height: 100% !important;
                            -o-object-fit: contain;
                            object-fit: contain;
                            -o-object-position: left;
                            object-position: left;
                        }
                    }
                    li:last-child {
                        @media(min-width: 991.98px) {
                            display: none;
                        }
                    }
        
                    li:first-child {
                        @include md {
                            display: none;
                        }
                    }
                }
                .navbar {
                    background-color: unset!important;
                    .navbar-toggler {
                        padding: 0 !important;
                        outline: unset !important;
                        border-color: unset !important;
                        border: unset !important;
                        z-index: 99;
                        &:focus {
                            box-shadow: unset;
                        }
                    }
                }
                .main-nav-toggle {
                    @media(min-width: 991.98px) {
                        flex: 1;
                    }
    
                    ul {
                        gap: 20px;
    
                        li {
                            color: $black;
                            @include transition;
                            a {
                                color: var(--Natural-colorDarkGrey500, #0C0D0C);
                                text-align: center;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                            }
                        }
                    }
                }
                #navbarNav { 
                    text-align: center;
                    flex-direction: column;
                    transition: .4s ease-in-out;
                    @include md {
                        width: 100%;
                        position: fixed;
                        top: 78px;
                        z-index: 9;
                        left: 0;
                        background: $white;
                        transition: 0.3s ease-in-out;
                        -webkit-transition: 0.3s ease-in-out;
                        -moz-transition: 0.3s ease-in-out;
                        -ms-transition: 0.3s ease-in-out;
                        -o-transition: 0.3s ease-in-out;
                        @include min-md {
                            top: 82px;
                        }
                        ul {
                            padding: 20px 0;
                        }
                    }

                    .navbar-nav {
                        column-gap: 60px;
                        width: 100%;
                        flex-wrap: wrap;
                        row-gap: 16px;
                        justify-content: center;
                        @include min-md {
                            margin-left: -110px;
                        }
                        @include xs {
                            text-align: left;
                            padding-right: calc(var(--bs-gutter-x)* .5);
                            padding-left: calc(var(--bs-gutter-x)* .5);
                            margin-right: auto;
                            margin-left: auto;
                        }
                        ul {
                            li {
                                color: $black;
                                @include transition;
                            }
                        }
                    }
                }
            }
        }
    }
    &.green-header:not(.shadow-header) {
        background-color: #235145;
        .menu-here {
            nav {
                a {
                    ul {
                        li:last-child {
                            @media(max-width: 991.98px) {
                                display: none!important;
                            } 
                        }
            
                        li:first-child {
                            @media(max-width: 991.98px) {
                                display: flex!important;
                            }
                        }
                    }
                }
                @include min-md {
                    .main-nav-toggle {
                        ul {
                            li {
                                a {
                                    color: $white;
                                }
                            }
                        }
                    }
                }
                nav {
                    .menu-m {
                        span {
                            &:nth-child(1) {
                                border-color: $white;
                            }
                    
                            &:nth-child(2) {
                                border-color: $white;
                            }
                    
                            &:nth-child(3) {
                                border-color: $white;
                            }
                        }
                    }
                }
            }
        }
    }
    &.shadow-header {
        height: 75px;
        @include min-md {
            height: 78px;
        }
        .header-default {
            .menu-here {
                nav {
                    #navbarNav {
                        top: 75px;
                        @include min-md {
                            top: 78px;
                        }
                    }
                }
            }
        }
    }
}

.navigation-collapsed {
    .green-header:not(.shadow-header) {
        background: $white!important;
        .menu-here {
            nav {
                a {
                    ul {
                        li:last-child {
                            display: flex!important;
                        }
            
                        li:first-child {
                            display: none!important;
                        }
                    }
                }
            }
        }
        .menu-m {
            span {
                border-color: $black!important;
            }
        }
    }
}

.menu-m {
    cursor: pointer;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 40px;
    height: 30px;

    .menu-bottom-click,
    .menu-top-click {
        border-color: $black !important;
    }
    .menu-global.menu-top-click,
    .menu-global.menu-bottom-click {
        left: 20%;
    }
    span {
        &:nth-child(1) {
            border-color: $black;
        }

        &:nth-child(2) {
            border-color: $black;
        }

        &:nth-child(3) {
            border-color: $black;
        }
    }
}

.menu-global {
    backface-visibility: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-top: 3px solid;
    width: 25px;
    transition: 0.44s;
    -webkit-transition: 0.44s;
    -moz-transition: 0.44s;
    -ms-transition: 0.44s;
    -o-transition: 0.44s;
    border-radius: 24px;
    border-radius: 8px;
}

.menu-top {
    top: 7px;
}

.menu-middle {
    top: 14px;
}

.menu-bottom {
    top: 21px;
}

.menu-top-click {
    backface-visibility: hidden;
    top: 15px;
    transform: rotate(50deg);
    transition: 0.44s;
    -webkit-transition: 0.44s;
    -moz-transition: 0.44s;
    -ms-transition: 0.44s;
    -o-transition: 0.44s;
}

.menu-middle-click {
    opacity: 0;
}

.menu-bottom-click {
    backface-visibility: hidden;
    top: 15px;
    transform: rotate(-410deg);
    transition: 0.44s 0.4s;
    -webkit-transition: 0.44s;
    -moz-transition: 0.44s 0.4s;
    -ms-transition: 0.44s 0.4s;
    -o-transition: 0.44s 0.4s;
}
/* Header Default END*/