/* General style START*/
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

p,
ul {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

button,
input {
    outline: none;
    border: none;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: generation-forest;
    &.overflow-hidden {
        overflow: hidden;
    }
}

.d-none {
    display: none !important;
}

.d-none-desktop {
    @include min-md {
        display: none;
    }
}

.d-none-mobile {
    @include md {
        display: none;
    }
}

p,
h2,
h1,
h3 {
    margin-bottom: 0;
}

.tab-content>.tab-pane {
    display: none;
}

.fade:not(.show) {
    opacity: 0;
}

.fade {
    transition: opacity .15s linear;
}

.tab-content>.active {
    display: block;
}

.centerize {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

#primary {
    @include min-md {
        min-height: 90vh;
    }
}

//class for title
.section-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-left: 16px;
    padding-right: 16px;
    h2 {
        color: var(--Natural-colorDarkGrey500, #0C0D0C);
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%; /* 44px */
        @include md {
            font-size: 30px;
        }
        &.only-title {
            margin-bottom: 40px;
            @include md {
                margin-bottom: 20px;
            }
        }
    }
    h3 {
        margin-bottom: 40px;
        &.only-subtitle {
            margin-bottom: 40px;
        }
    }
}

.site-main-seperator {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    margin-bottom: 60px;
    // @include md {
    //     margin-bottom: 40px;
    //     row-gap: 40px;
    // }
}

.default-template {
    margin-top: 40px;
    h1 {
        margin-bottom: 24px;
        @include md {
            margin-bottom: 16px;
        }
    }
    p {
        font-size: 16px;
        margin-bottom: 16px;
    }
}

#contact-us {
    scroll-margin-top: 75px;
}
/* General style END*/