/* Variables START*/

$white: #fff;
$black: #000000;
$red: red;
$primary-color: coral;
$primary-color-light: coral;
$secondary-color: #000;
$secondary-color-light: #000000a4;
$grey-color: #888;


:root {
    --Natural-colorWhite: #FFFFFF;
    --Natural-colorBlack: #000000;

    --Basic-colorWhite: #FFF;
    --Basic-colorBlack: #000;

    --colorOffWhite: #FFFEFA;

    /* Neutral Shades */
    --Neutral-colorNeutral: #99a2aa;
    --Neutral-colorNeutralLight700: #e6e9eb;
    // --Neutral-colorNeutralLight600: #f1f3f5;    
    // --Neutral-colorNeutralLight500: #f8f9fa;
    // --Neutral-colorNeutralLight400: #f8f9fa;
    // --Neutral-colorNeutralLight300: #f8f9fa;   
    // --Neutral-colorNeutralLight200: #f8f9fa;
    // --Neutral-colorNeutralLight100: #f8f9fa;

    /* Dark Grey Shades */
    --Natural-colorDarkGrey500: #0C0D0C;
    --Natural-colorDarkGrey400: #1A1A1A;
    --Natural-colorDarkGrey300: #333333;
    --Natural-colorDarkGrey200: #4D4D4D;
    --Natural-colorDarkGrey100: #666666;
  
    /* Grey */
    --Natural-colorGrey: #888888;
    --colorLightGray: #F1F1E8;
  
    /* Light Grey Shades */
    --Natural-colorLightGrey100: #AAAAAA;
    --Natural-colorLightGrey200: #BBBBBB;
    --Natural-colorLightGrey300: #CCCCCC;
    --Natural-colorLightGrey400: #DDDDDD;
    --Natural-colorLightGrey500: #EEEEEE;
  
    /* Dark Primary Shades */
    --Natural-colorDarkPrimary400: #003478;
    --Natural-colorDarkPrimary300: #0045A5;
    --Natural-colorDarkPrimary200: #0055D2;
    --Natural-colorDarkPrimary100: #0066FF;
  
    /* Primary */
    --Natural-colorPrimary: #2BA28B;
    --colorPrimary: #235145;
  
    /* Light Primary Shades */
    --Natural-colorLightPrimary100: #4AC6A2;
    --Natural-colorLightPrimary200: #6DE3BB;
    --Natural-colorLightPrimary300: #8CFFD5;
    --Natural-colorLightPrimary400: #AAFFE6;
  
    /* Dark Secondary Shades */
    --Natural-colorDarkSecondary400: #552200;
    --Natural-colorDarkSecondary300: #773300;
    --Natural-colorDarkSecondary200: #994400;
    --Natural-colorDarkSecondary100: #BB5500;
  
    /* Secondary */
    --Natural-colorSecondary: #DD6600;
  
    /* Light Secondary Shades */
    --Natural-colorLightSecondary100: #EE7722;
    --Natural-colorLightSecondary200: #FF8844;
    --Natural-colorLightSecondary300: #FFA766;
    --Natural-colorLightSecondary400: #FFBB88;
  
    /* Dark Tertiary Shades */
    --Natural-colorDarkTertiary400: #220055;
    --Natural-colorDarkTertiary300: #330077;
    --Natural-colorDarkTertiary200: #440099;
    --Natural-colorDarkTertiary100: #5500BB;
  
    /* Tertiary */
    --Natural-colorTertiary: #6600DD;
  
    /* Light Tertiary Shades */
    --Natural-colorLightTertiary100: #7722EE;
    --Natural-colorLightTertiary200: #8844FF;
    --Natural-colorLightTertiary300: #A766FF;
    --Natural-colorLightTertiary400: #BB88FF;
  }
  

@mixin transition {
    transition: all .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

@mixin button {
    width: 185px;
    height: 45px;
    border: 1px solid;
    border-color: transparent;
    color: $black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    will-change: box-shadow, transform;
    background-color: #c1ff50;
    background-image: linear-gradient(to right, #69e011 0, #c1ff50 51%, #69e011 100%);
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(193, 255, 80, .14), 0 3px 1px -2px rgba(193, 255, 80, .2), 0 1px 5px 0 rgba(193, 255, 80, .12);
    background-size: 200% auto !important;
    white-space: nowrap;
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), background-position .5s;

    &:hover {
        box-shadow: 0 14px 26px -12px rgba(105, 224, 17, .82), 0 4px 23px 0 rgba(0, 0, 0, .32), 0 8px 10px -5px rgba(193, 255, 80, .5);
        background-position: right center;
        background-color: #69e011;
        border-color: transparent;
    }
}


@mixin default-white-btn {
    color: var(--Basic-colorBlack, #000);
    background: var(--Base-colorWhite, #FFF);
    border: 1px solid transparent;
    gap: 10px;
    border-radius: 8px;
    display: flex;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    height: 50px;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    @include transition;
    @include md {
        font-size: 14px;
    }
    @include sm {
        font-size: 12px;
        height: 40px;
        padding: 0 16px;
    }
    @media (max-width: 389.98px) {
        padding: 0 8px;
    }
    &:after {
        background-repeat: no-repeat;
        background-size: contain;
        width: 24px;
        height: 24px;
        content: "";
        @include transition;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M12 3C10.8181 3 9.64778 3.23279 8.55585 3.68508C7.46392 4.13738 6.47177 4.80031 5.63604 5.63604C4.80031 6.47177 4.13738 7.46392 3.68508 8.55585C3.23279 9.64778 3 10.8181 3 12C3 13.1819 3.23279 14.3522 3.68508 15.4442C4.13738 16.5361 4.80031 17.5282 5.63604 18.364C6.47177 19.1997 7.46392 19.8626 8.55585 20.3149C9.64778 20.7672 10.8181 21 12 21C14.3869 21 16.6761 20.0518 18.364 18.364C20.0518 16.6761 21 14.3869 21 12C21 9.61305 20.0518 7.32387 18.364 5.63604C16.6761 3.94821 14.3869 3 12 3Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/><path d="M16 12L12 8" stroke="black" stroke-linecap="round" stroke-linejoin="round"/><path d="M16 12L8 12" stroke="black" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 16L16 12" stroke="black" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    }
    @include min-md {
        &:hover {
            border: 1px solid var(--Base-colorWhite, #FFF);
            background: rgba(255, 255, 255, 0.25);
            color: var(--Basic-colorWhite, #FFF);
            &:after {
                background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M12 3C10.8181 3 9.64778 3.23279 8.55585 3.68508C7.46392 4.13738 6.47177 4.80031 5.63604 5.63604C4.80031 6.47177 4.13738 7.46392 3.68508 8.55585C3.23279 9.64778 3 10.8181 3 12C3 13.1819 3.23279 14.3522 3.68508 15.4442C4.13738 16.5361 4.80031 17.5282 5.63604 18.364C6.47177 19.1997 7.46392 19.8626 8.55585 20.3149C9.64778 20.7672 10.8181 21 12 21C14.3869 21 16.6761 20.0518 18.364 18.364C20.0518 16.6761 21 14.3869 21 12C21 9.61305 20.0518 7.32387 18.364 5.63604C16.6761 3.94821 14.3869 3 12 3Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/><path d="M16 12L12 8" stroke="white" stroke-linecap="round" stroke-linejoin="round"/><path d="M16 12L8 12" stroke="white" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 16L16 12" stroke="white" stroke-linecap="round" stroke-linejoin="round"/></svg>')!important;
            }
        }
    }
}

@mixin default-transparent-btn {
    border: 1px solid var(--Base-colorWhite, #FFF);
    background: rgba(255, 255, 255, 0.25);
    color: var(--Basic-colorWhite, #FFF);
    gap: 10px;
    border-radius: 8px;
    display: flex;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    height: 50px;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    @include transition;
    @include md {
        font-size: 14px;
    }
    @include sm {
        font-size: 12px;
        height: 40px;
        padding: 0 16px;
    }
    @media (max-width: 389.98px) {
        padding: 0 8px;
    }
    &:after {
        background-repeat: no-repeat;
        background-size: contain;
        width: 24px;
        height: 24px;
        content: "";
        @include transition;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M12 3C10.8181 3 9.64778 3.23279 8.55585 3.68508C7.46392 4.13738 6.47177 4.80031 5.63604 5.63604C4.80031 6.47177 4.13738 7.46392 3.68508 8.55585C3.23279 9.64778 3 10.8181 3 12C3 13.1819 3.23279 14.3522 3.68508 15.4442C4.13738 16.5361 4.80031 17.5282 5.63604 18.364C6.47177 19.1997 7.46392 19.8626 8.55585 20.3149C9.64778 20.7672 10.8181 21 12 21C14.3869 21 16.6761 20.0518 18.364 18.364C20.0518 16.6761 21 14.3869 21 12C21 9.61305 20.0518 7.32387 18.364 5.63604C16.6761 3.94821 14.3869 3 12 3Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/><path d="M16 12L12 8" stroke="white" stroke-linecap="round" stroke-linejoin="round"/><path d="M16 12L8 12" stroke="white" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 16L16 12" stroke="white" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    }
    @include min-md {
        &:hover {
            color: var(--Basic-colorBlack, #000);
            background: var(--Base-colorWhite, #FFF);
            border: 1px solid transparent;
            &:after {
                background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M12 3C10.8181 3 9.64778 3.23279 8.55585 3.68508C7.46392 4.13738 6.47177 4.80031 5.63604 5.63604C4.80031 6.47177 4.13738 7.46392 3.68508 8.55585C3.23279 9.64778 3 10.8181 3 12C3 13.1819 3.23279 14.3522 3.68508 15.4442C4.13738 16.5361 4.80031 17.5282 5.63604 18.364C6.47177 19.1997 7.46392 19.8626 8.55585 20.3149C9.64778 20.7672 10.8181 21 12 21C14.3869 21 16.6761 20.0518 18.364 18.364C20.0518 16.6761 21 14.3869 21 12C21 9.61305 20.0518 7.32387 18.364 5.63604C16.6761 3.94821 14.3869 3 12 3Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/><path d="M16 12L12 8" stroke="black" stroke-linecap="round" stroke-linejoin="round"/><path d="M16 12L8 12" stroke="black" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 16L16 12" stroke="black" stroke-linecap="round" stroke-linejoin="round"/></svg>')!important;
            }
        }
    }
}
/* Variables END*/