/* Footer START*/
footer {
    padding: 0px 0px;
    background: $black;

    .copyrights {
        padding: 10px 0;

        p {
            margin: 0;
            text-align: center;
            color: $white;
        }
    }

    .columns {
        padding: 30px 0;
        background: $white;
    }
}

/* Footer END*/